body {
    background-color: black;
}

.text {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    text-align: center;
}

p {
    margin: 5px 0px 0px 0px;
}

@media only screen and (max-width: 1155px) {
    .dataInfo {
        display: none;
    }
    .datacontent {
        overflow-x: auto
    }
}

.rotatable {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.rotated90 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.addSpace {
    animation: smoothOpen 0.1s alternate;
}

.btn {
    position: absolute;
    background-color: #000000;
    border: solid #000000 2px;
    z-index: 1;
}

.btn:hover {
    background-color: #3f3f3f;
    border: solid #3f3f3f 2px;
}